In [11]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [12]:
df= pd.read_csv(r"C:\Users\Praveen\OneDrive\Documents\Hyper launch\ML\time series\global_inflation_data.csv")

In [13]:
print(df)

    Country   Inflation Rate
0       1980            11.3
1       1981            12.7
2       1982             7.7
3       1983            12.6
4       1984             6.5
5       1985             6.3
6       1986             8.9
7       1987             9.1
8       1988             7.2
9       1989             4.6
10      1990            11.2
11      1991            13.5
12      1992             9.9
13      1993             7.3
14      1994            10.3
15      1995            10.0
16      1996             9.4
17      1997             6.8
18      1998            13.1
19      1999             5.7
20      2000             3.8
21      2001             4.3
22      2002             4.0
23      2003             3.9
24      2004             3.8
25      2005             4.4
26      2006             6.7
27      2007             6.2
28      2008             9.1
29      2009            12.3
30      2010            10.5
31      2011             9.5
32      2012            10.0
33      2013             9.4
34      2014             5.8
35      2015             4.9
36      2016             4.5
37      2017             3.6
38      2018             3.4
39      2019             4.8
40      2020             6.2
41      2021             5.5
42      2022             6.7
43      2023             5.5
44      2024             4.6

In [14]:
df= df.dropna()
print(df)

    Country   Inflation Rate
0       1980            11.3
1       1981            12.7
2       1982             7.7
3       1983            12.6
4       1984             6.5
5       1985             6.3
6       1986             8.9
7       1987             9.1
8       1988             7.2
9       1989             4.6
10      1990            11.2
11      1991            13.5
12      1992             9.9
13      1993             7.3
14      1994            10.3
15      1995            10.0
16      1996             9.4
17      1997             6.8
18      1998            13.1
19      1999             5.7
20      2000             3.8
21      2001             4.3
22      2002             4.0
23      2003             3.9
24      2004             3.8
25      2005             4.4
26      2006             6.7
27      2007             6.2
28      2008             9.1
29      2009            12.3
30      2010            10.5
31      2011             9.5
32      2012            10.0
33      2013             9.4
34      2014             5.8
35      2015             4.9
36      2016             4.5
37      2017             3.6
38      2018             3.4
39      2019             4.8
40      2020             6.2
41      2021             5.5
42      2022             6.7
43      2023             5.5
44      2024             4.6

In [15]:
df.head(10)

   Country   Inflation Rate
0      1980            11.3
1      1981            12.7
2      1982             7.7
3      1983            12.6
4      1984             6.5
5      1985             6.3
6      1986             8.9
7      1987             9.1
8      1988             7.2
9      1989             4.6

In [9]:
from xgboost import XGBRegressor

In [16]:
for lag in range(1,4):
    df[f'lag_{lag}']=df["Inflation Rate"].shift(lag)

In [21]:
df.dropna(inplace=True)

In [22]:
x=df[['lag_1','lag_2','lag_3']]
y=df['Inflation Rate']

In [23]:
print(x)

    lag_1  lag_2  lag_3
3     7.7   12.7   11.3
4    12.6    7.7   12.7
5     6.5   12.6    7.7
6     6.3    6.5   12.6
7     8.9    6.3    6.5
8     9.1    8.9    6.3
9     7.2    9.1    8.9
10    4.6    7.2    9.1
11   11.2    4.6    7.2
12   13.5   11.2    4.6
13    9.9   13.5   11.2
14    7.3    9.9   13.5
15   10.3    7.3    9.9
16   10.0   10.3    7.3
17    9.4   10.0   10.3
18    6.8    9.4   10.0
19   13.1    6.8    9.4
20    5.7   13.1    6.8
21    3.8    5.7   13.1
22    4.3    3.8    5.7
23    4.0    4.3    3.8
24    3.9    4.0    4.3
25    3.8    3.9    4.0
26    4.4    3.8    3.9
27    6.7    4.4    3.8
28    6.2    6.7    4.4
29    9.1    6.2    6.7
30   12.3    9.1    6.2
31   10.5   12.3    9.1
32    9.5   10.5   12.3
33   10.0    9.5   10.5
34    9.4   10.0    9.5
35    5.8    9.4   10.0
36    4.9    5.8    9.4
37    4.5    4.9    5.8
38    3.6    4.5    4.9
39    3.4    3.6    4.5
40    4.8    3.4    3.6
41    6.2    4.8    3.4
42    5.5    6.2    4.8
43    6.7    5.5    6.2
44    5.5    6.7    5.5

In [24]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.2,shuffle=False)

In [25]:
model=XGBRegressor()

In [26]:
model.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             feature_weights=None, gamma=None, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             learning_rate=None, max_bin=None, max_cat_threshold=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
             max_leaves=None, min_child_weight=None, missing=nan,
             monotone_constraints=None, multi_strategy=None, n_estimators=None,
             n_jobs=None, num_parallel_tree=None, ...)

In [28]:
y_predict=model.predict(x_test)

In [29]:
print(y_predict)

[5.4207253 5.4207253 5.4211154 5.4995756 5.4999657 5.4211154 5.4211154
 3.5998287 5.4410825 5.9439554 5.4207253 5.4207253 5.4207253 5.4211154
 5.4207253 5.4207253 5.4207253 4.6000667 3.4013653 3.4774852 4.5148525
 4.5148525 4.5148525 4.5148525 5.5014825 5.9439554 5.4999657 5.4211154
 5.4211154 5.4207253 5.4207253 5.4207253 4.5996766]

In [30]:
print(y_test)

3     12.6
4      6.5
5      6.3
6      8.9
7      9.1
8      7.2
9      4.6
10    11.2
11    13.5
12     9.9
13     7.3
14    10.3
15    10.0
16     9.4
17     6.8
18    13.1
19     5.7
20     3.8
21     4.3
22     4.0
23     3.9
24     3.8
25     4.4
26     6.7
27     6.2
28     9.1
29    12.3
30    10.5
31     9.5
32    10.0
33     9.4
34     5.8
35     4.9
Name: Inflation Rate, dtype: float64

In [33]:
mse=mean_squared_error(y_test,y_predict)
print(mse)

14.813624758142304